body{
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea{
    background-color:#3CDCFF;
    border-color:cyan;
    border-radius: 5px;
    color: #000000;
    font-weight:bolder;
    font-size: 20px;
}
input{
    background-color:#3CDCFF;
    border-radius: 5px;
    color: #000000;
    font-weight:bolder;
    font-size: 20px;
}

.nen {
    animation: neonAnim 2s alternate-reverse infinite;
    color: #3CDCFF;
    font-family: Cursive;
    font-size: 32px;
}
@keyframes neonAnim {
from {
    text-shadow:
      0 0 13px rgba(60, 220, 255, .7),
      0 0 43px rgba(60, 220, 255, .7),
      0 0 103px rgba(60, 220, 255, .7);
  }
  to {
    text-shadow:
      0 0 8px rgba(60, 220, 255, .7),
      0 0 23px rgba(60, 220, 255, .7),
      0 0 63px rgba(60, 220, 255, .7);
  }
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav { background-color:#3CDCFF;border-radius: 0px 0px 20px 20px;}
nav a {
    font-weight: bolder;
    color: rgb(49, 49, 49);
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  width: 100%;
  min-height: 100vh;
  background-color: #151a1e;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.neon-btn {
  border: 1px solid;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 16px;
  padding: 15px 30px;
  transition: 0.2s;
  border-radius: 20px;
  font-weight:bolder;
  margin-right:30px;
  margin-left: 30px;
  font-family:Arial, Helvetica, sans-serif;
}

.neon-btn--purple {
  color: #f038ff;
}

.neon-btn--purple:hover {
  background-color: #f038ff;
  color: #fff;
  border: 1px solid #f038ff;
  box-shadow: 10px 10px 100px 6px #f038ff;
}